<div class="home">
    <div class="container-info">
      <div class="item vertical">
        <div class="vertical-item">
          <div class="title">
            <h3>Currículum</h3>
          </div>
          <app-cv></app-cv>
        </div>
       <div class="vertical-item">
         <div class="title">
           <h3>Perfiles</h3>
         </div>
         <app-rrss [rrss]="rrss"></app-rrss>
       </div>
      </div>
      <div class="item">
        <div class="title">
          <h3>Trayectoria</h3>
        </div>
        <app-experience></app-experience>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="container-info">
      <div class="title">
        <h3>Herramientas</h3>
      </div>
      <app-tools [entities]="tools"></app-tools>
    </div>
  </div>

  <div class="container">
    <div class="container-info">
      <div class="title">
        <h3>Habilidades como desarrollador</h3>
      </div>
      <app-tools [entities]="softwareAbilities"></app-tools>
    </div>
  </div>

  <div class="container">
    <div class="container-info">
      <div class="title">
        <h3>Idiomas</h3>
      </div>
      <app-tools [entities]="lenguagesAbilities"></app-tools>
    </div>
</div>
