<div class="certificates">
  <div class="container" style="margin-bottom: 30px;">
    <div class="container-info">
      <div class="title">
        <h3>Formación Académica</h3>
      </div>
      <div class="certificates-list two">
        <ul>
          <li *ngFor="let certificado of (formacionAcademica$ | async)" class="certificate">
            <div class="info">
              <div class="title">
                <h4>{{certificado.nombre}}</h4>
              </div>
              <div class="institucion">
                <h5>{{certificado.institucion}}</h5>
              </div>
            </div>
            <span class="img">
              <img [src]="certificado.img" [alt]="certificado.nombre" />
              <div class="ver">
                <a [href]="certificado.pdf" target="_blank">
                  <i class="fa-solid fa-eye"></i>
                </a>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container cr">
    <div class="container-info">
      <div class="title">
        <h3>Rutas De Aprendizaje</h3>
      </div>
      <div class="ruta-list">
        <ul *ngFor="let ruta of (rutas$ | async)" class="ruta">
          <div class="info">
            <div class="title">
              <h4>{{ruta.nombre}}</h4>
            </div>
            <div class="institucion">
              <h5>{{ruta.institucion}}</h5>
            </div>
          </div>
          <div class="certificados">
            <li *ngFor="let certificate of ruta.certificados" class="certificate">
              <span class="img">
                <img [src]="certificate.img" [alt]="certificate.nombre" />
              </span>
              <div class="ver">
                <a [href]="certificate.pdf" target="_blank">
                  <i class="fa-solid fa-eye"></i>
                </a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-info">
      <div class="title">
        <h3>Cursos Individuales</h3>
      </div>
      <div class="certificates-list">
        <ul>
          <li *ngFor="let certificado of (individual$ | async)" class="certificate">
            <span class="img">
              <img [src]="certificado.img" [alt]="certificado.nombre" />
              <div class="ver">
                <a [href]="certificado.pdf" target="_blank">
                  <i class="fa-solid fa-eye"></i>
                </a>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
