/* You can add global styles to this file, and also import other style files */
  @import "reset.scss";

  * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/*
PALETA COLORES
#F9546B
#FC7651
#FFDB60
#42CFCA
#009F93

#FF9BB2
#FFB5A4
#FDEEB8
#A0CDCF
#4A9E98
#CECFD3
*/

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  //background: #FDEEB8;
}
